body {
    background-color: #7bcfe6;
}

.button-container {
    display: flex;
    justify-content: center;
}

.start-button, .quote-button, .restart-button {
    color: rgb(130, 39, 221);
    padding: 10px 20px;
    font-size: 18px;
    border: none;
    border-radius: 5px;
    background-color: white;
    border: black solid 1px ;
    display: block;
    align-items: center;
    margin-top: 15px;
}

.happy-button, .sad-button {
    color: rgb(130, 39, 221);
    padding: 10px 20px;
    font-size: 18px;
    border: none;
    border-radius: 5px;
    background-color: white;
    border: black solid 1px;
}

.quote-button {
    margin-top: 50px;
}

.restart-button {
    margin: 0 auto; 
    margin-top: 20px;
}

.h1 {
    color: black;
    text-align: center;
    font-size: 35px;
    text-decoration: underline;
}

.title-emojis {
    text-align: center;
    font-size: 40px;
}

.h2, .h3 {
    color: black;
    text-align: center;
}

.dropdown-container {
    display: flex;
    justify-content: center; 
    align-items: center;
    height: 10vh; 
}

.dropdown-sad, .dropdown-happy {
    background-color: rgb(251, 249, 246);
    border: black solid 1px;
    color: rgb(130, 39, 221);
    border-radius: 5px;
    padding: 10px 20px;
    font-size: 18px;
    margin-top: 20px;
    transition: background-color 0.3s; 
}

/* https://www.hostm.com/how-to/css/change-cursor-to-hand-on-hover#:~:text=Use%20the%20cursor%20CSS%20property,pointer%20when%20hovering%20over%20links. */


.dropdown-sad:hover,
.dropdown-happy:hover {
    background-color: rgb(230, 230, 230);
    cursor: pointer;
}

.emoji-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 10vh; 
}

.emoji {
    font-size: 30px;
}


.quoteContainer {
    font-size: 25px;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 10vh; 
    margin-top: 20px;
}

.author-container {
    font-size: 15px;
    font-style: italic; 
    display: flex;
    justify-content: center;
    align-items: center;
    height: 10vh; 
}


@media (max-width: 767px) {
    .quote-button {
        font-size: 16px;
    }
}
