body {
<<<<<<< HEAD
    background-color: #7bcfe6; 
=======
    background-color: #7bcfe6;
>>>>>>> f02631c6fd113145d587967d63383ec2ad97a6d8
}

.button-container {
    display: flex;
    justify-content: center;
}

.start-button {
    color: rgb(197, 161, 232);
    padding: 10px 20px;
    font-size: 18px;
    border: none;
    border-radius: 5px;
    background-color: white;
}


.h1 {
    color: black;
    text-align: center;
}

.title-emojis {
    text-align: center;
}

.h2 {
    color: black;
    text-align: center;
}

.h3 {
    color: black;
    text-align: center;
}


.start-button {
    display: block;
    align-items: center;
    color: rgb(197, 161, 232);
}


.dropdown-container {
    display: flex;
    justify-content: center; 
    align-items: center;
    height: 10vh; 
}

.emoji-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 20vh; 
}

.quote-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 20vh; 
}

